@{
    ViewData["Title"] = "About Us";
}
<h1>About Us</h1>
<br />
<br />
<body style=" background: linear-gradient(#3300ff, #bd00fc); text-align: center">
<p>
    Welcome to Mr C's Retailing, our online platform for efficient and seamless retail services. We provide secure image uploads, <br />
    customer profile management, order processing and contract storage. At Mr C's retailing, we understand the challenges of <br />
    running a modern retail business. Which is why we have created a one-stop solution where you can do it all in one place.
</p>
</body>