@model ST10320806_Part1.Models.OrderProfile

<h2>Create Order</h2>
<body style="text-align: center; background: linear-gradient(#3300ff, #bd00fc)">
    <div style="border: 2px solid black; padding: 20px; margin:auto; display: inline-block; text-align: center; border-radius: 15px; background-color:beige;">
<form asp-action="CreateOrder" method="post">
    <div>
        <label for="OrderNumber">Order Number</label>
        <input type="text" id="OrderNumber" name="OrderNumber" value="@Model.OrderNumber" required />
    </div>

    <button type="submit">Submit</button>
</form>
</div>
</body>