@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Application!</h1>
<body style="text-align: center; background: linear-gradient(#3300ff, #bd00fc)">
    <div style="border: 2px solid black; padding: 20px; margin:auto; display: inline-block; text-align: center; border-radius: 15px; background-color:beige;">
<div>
    <h2>Choose an Action</h2>
    <!-- Button to navigate to Create Customer page -->
    <a class="btn btn-primary" asp-action="CreateCustomer">Create Customer</a>

    <!-- Button to navigate to Upload Blob page -->
    <a class="btn btn-primary" asp-action="UploadBlob">Upload Blob</a>

    <!-- Button to navigate to Create Order page -->
    <a class="btn btn-primary" asp-action="CreateOrder">Create Order</a>
</div>
</div>
</body>
