<h2>Upload Blob</h2>
<body style="text-align: center; background: linear-gradient(#3300ff, #bd00fc)">
    <div style="border: 2px solid black; padding: 20px; margin:auto; display: inline-block; text-align: center; border-radius: 15px; background-color:beige;">
<form asp-action="UploadBlob" method="post" enctype="multipart/form-data">
    <div>
        <label for="imageFile">Upload Image</label>
        <input type="file" id="imageFile" name="imageFile" accept="image/*" required />
    </div>

    <button type="submit">Upload</button>
</form>
</div>
</body>